* {
    margin: auto;
    padding: 0;
}
@font-face {
            font-family: 'Helvetica neue';
            src: url('../fonts/helveticaneue-thin-webfont.eot');
            src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
                 url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
                 url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
                 url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
.box1 {
    height: 100%;
    width: 100%;
    position: fixed;
    background: url('../img/Back.jpg');
    background-size: cover;
    font-family: 'Helvetica neue';
    color: white;
}
.menu1 {
    width: 100%;
    padding-left: 10%;
    background: #354d8b;
    line-height: 30px;
}
.menu1 li{
    list-style: none;
    background: none;
    color: #317fc7;
    display: inline-block;
    padding: 10px 20px 10px 20px;
}
li:nth-child(1) {
    margin-left: 280px;
}
li:nth-child(5) {
    border-right: 1px solid #317fc7;
}
li:nth-child(6) {
    position: relative;
    color: white;
    padding-left: 40px;
}
li:nth-child(7) {
    color: white;
    background: #317fc7;
    background:  #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
}
li:nth-child(6):before {
    content: url('../img/fl.png');
    position: absolute;
    top: 10px;
    left: 5px;
}
li:nth-child(1):hover {
    color: white;
    background: #317fc7;  
}
li:nth-child(2):hover {
    color: white;
    background: #317fc7;  
}
li:nth-child(3):hover {
    color: white;
    background: #317fc7;  
}
li:nth-child(4):hover {
    color: white;
    background: #317fc7;  
}
li:nth-child(5):hover {
    color: white;
    background: #317fc7;  
}
.menu1 a {
    color: white;
}
.boxform {
    width: 40%;
    height: 85%;
    position: fixed;
    top: 10%;
    left: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}
.inbform1 {
    height: 53px;
    margin-top: 10px;
    border-bottom: 2px solid white;
    font-size: 30px;
    line-height: 53px;
    text-align: center;
}
.inbform2 {
    width: 49%;
}
.facebook {
    width: 100%;
    margin-top: 4%;
}
.ou {
    width: 100%;
    margin-top: 30px;
}
.boxinpchek {
    height: 50%;
    width: 100%;}
.inp {
    width: 100%;
    margin-top: 20px;
    padding: 10px 5px 10px 5px;
    background: black;
    border: none;
    color: white;
    outline: none;
}
.inp:focus {
    background: #1b5288;
    box-shadow: 0px 0px 10px blue;
}
.che {
    margin-left: 1%;
    margin-top: 10px;
}
.b1 {
    margin-left: 22%;
    margin-top: 10px;
    padding: 8px 20px 8px 20px;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #378bce;
    border-top-color: #89bbe2;
    border-radius: 4px;
    background: #317fc7 linear-gradient(#89bbe2, #317fc7 50%, #378bce);
    color: white;
    cursor: pointer;
}
.inbform3 {
    margin-top: 10px;
}
.inbform3 a {
    color: white;
    text-decoration: none;
}
.inbform3, .facebook, .ou {
    text-align: center;
}