* {
    margin: auto;
    padding: 0;
}
.box1 {
    height: 100%;
    /*    height: 1064px;*/
    position: relative;
    overflow: hidden;
    background: url('../img/Back.jpg');
    background-size: cover;
    font-family: 'Helvetica neue';
    color: white;
}
.box1 back {
    width: 100%;
    height: auto;
}
.menu1 {
    width: 100%px;
    background: #354d8b;
    line-height: 30px;
}
.menu1 li{
    list-style: none;
    background: none;
    color: #317fc7;
    display: inline-block;
    padding: 10px 20px 10px 20px;
}
li:nth-child(1) {
    margin-left: 280px;
}
li:nth-child(5) {
    border-right: 1px solid #317fc7;
}
li:nth-child(6) {
    position: relative;
    color: white;
    padding-left: 40px;
}
li:nth-child(7) {
    color: white;
    background: #317fc7;
    background:  #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
}
li:nth-child(6):before {
    content: url('../img/fl.png');
    position: absolute;
    top: 10px;
    left: 5px;
}
li:nth-child(1):hover {
    color: white;
    background: #317fc7;  
}
li:nth-child(2):hover {
    color: white;
    background: #317fc7;  
}
li:nth-child(3):hover {
    color: white;
    background: #317fc7;  
}
li:nth-child(4):hover {
    color: white;
    background: #317fc7;  
}
li:nth-child(5):hover {
    color: white;
    background: #317fc7;  
}
.menu1 a {
    color: white;
}
.cad {
    height: 53px;
    margin-top: 10px;
    border-bottom: 2px solid white;
    font-size: 30px;
    line-height: 53px;
    text-align: center;
}
.facebook {
    margin-top: 40px;
}
.ou {
    margin-top: 30px;
}
.boxform1 {
    width: 40%;
    height: 50%;
    position: absolute;
    top: 20%;
    left: centre;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}
.boxform1_1 {
    height: 50%;
    margin-top: 10px;
    margin-left: 50%;
    margin-right: 50%;
    position: relative;
    overflow: hidden;
}
.boxform1_1_1 {
    position: absolute;
    margin: auto;
    width: 50%;
    }
.inp {
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    background: black;
    border: none;
    color: white;
    outline: none;
}
.inp:focus {
    background: #1b5288;
    box-shadow: 0px 0px 10px blue;
}
.che {
    margin-left: 143px;
    margin-top: 10px;
}
.b1 {
    margin-left: 200px;
    margin-top: 10px;
    padding: 8px 20px 8px 20px;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #378bce;
    border-top-color: #89bbe2;
    border-radius: 4px;
    background: #317fc7 linear-gradient(#89bbe2, #317fc7 50%, #378bce);
    color: white;
    cursor: pointer;
}
.f {
    margin-top: 10px;
}
.f a {
    color: white;
    text-decoration: none;
}
.f, .facebook, .ou {
    text-align: center;
}