*{
  margin: 0;
  padding: 0;
}

body {
  margin: 3%;
  background-color: yellow;
}

.description {
  padding: 1%;
  font-size: 1.5em;
}

.inpnod_a_nod, .inpnod_b_nod{
  margin: 1%;
  padding: 1%;
  width: auto;
  font-size: 1em;
}

.inpnod_but_nod {
  margin: 1%;
  padding: 1%;
  font-size: 1em;
}