@media all and (min-width: 320px) and (max-width: 479px) {
* {
margin: 0;
padding: 0;
}

html, body {
width: 100%;
height: 100%;
font-size: 1em;
font-family: 'Oswald', sans-serif;
}

.main {
max-width: 100%; 
margin-left: auto;
margin-right: auto;
overflow: hidden;
}

.main p {
font-family: 'Arial', sans-serif;
font-weight: 100;
}  

.cl1 {
clear: both;
}

.in {
width: 87.5%;
margin-left: auto;
margin-right: auto;
overflow: hidden;
}  

.boxBigImg {
width: 100%;
height: 445px;
padding-top: 70px;
background: url(../img/Big_back_480.jpg) 0px 0px no-repeat;
}

.pingbull {
width: 100%;
float: left;
margin-top: -5px;
font-size: 1.2em;
font-weight: normal;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);  
}

.pingbull h1 {
font-size: 1.6em;
text-align: center;
}   

.pingbull span:first-child {
color: #fff;
}

.pingbull span:last-child {
color: #6f4d7e;
}

.navigation {
position: absolute;
margin-top: 67px;
margin-left: 40.9%; 
width: 18.2%;
float: left;
}

.menu {
display: block;
line-height: 2;
overflow: hidden;
}  

.menu li {
display: block; 
padding-top: 5px;
padding-bottom: 5px;
padding-bottom: 1.3px;
list-style: none;
text-align: left;
font-weight: normal;
font-size: 1em;
}

li.menu__item2 {
display: none;
}  

li.menu__item3 {
display: none;
}  

li.menu__item4 {
display: none;    
} 

li.menu__item5 {
display: none;  
} 

li.menu__item6 {
display: none;     
} 

a.menu__link1 {
text-decoration: none;
color: #fff;  
border-bottom: 2px solid #edbfff;
}

.menu li a {
text-decoration: none;
color: #fff;
font-size: 1.10em;
}

.menu a:hover {
border-bottom: 2px solid #edbfff;
}

.slider {
width: 100%;
height: 295px;
margin-top: 70px;
color: #fff;
background: url(../img/Pan_320.png) 50% 255px no-repeat;
background-size: auto;
}

.nar_l {
margin-top: 130px;
float: left;
width: 20px;
height: 34px;
background: url(../img/left.png);
z-index: 9;
}  

.nar_r {
margin-top: -43px;
float: right;
width: 20px;
height: 34px;
background: url(../img/right.png);
z-index: 10;
}    
  
.slider_child1 {
float: left;
width: 100%;
padding-top: 73px;
}

.slider_child1 h1 {
padding-top: 36px;
font-size: 1.6em;
font-weight: normal;
text-align: center;
} 

h2.it {
display: inline-block;
margin-top: 4px;
font-size: 0.9em;
font-weight: normal;
color: #edbfff;
width: 100%;
text-align: center;
} 

.slider_child1 p {
display: none;
}

.slider_child2 {
display: none;
}

.slider_child2 p {
display: inline-block;
margin-top: -23px;
float: right;
margin-right: 10.5%;
}

.phone {
display: none;
}  

.boxpurple {
width: 100%;
height: 530px;
padding-top: 70px;
background: url(../img/grad.png) no-repeat;
background-size: cover;
color: #fff;
overflow: hidden;
border-top: 1px solid #33253a;
border-bottom: 1px solid #33253a;
text-align: justify;
}

.boxpurple h4{
font-size: 1.2em;
font-weight: normal;
}

.boxpurple p{
padding-top: 10.5px;
font-size: 1.1em;
font-weight: 100;
line-height: 1.5;
}

.boxpurple01, .boxpurple1, .boxpurple02, .boxpurple2, .boxpurple03, .boxpurple3 {
float: left;
overflow: hidden;
}

.boxpurple01, .boxpurple02, .boxpurple03 {
width: 15%;
padding-left: 5%;
}  

.boxpurple02, .boxpurple03 {
margin-top: -40px;    
}
  
.boxpurple03 {
margin-top: -22px;    
}   

.boxpurple1, .boxpurple2, .boxpurple3 {
width: 70%;
height: 196px;
font-size: 0.9em;
padding-right: 6%;
padding-left: 2.8%;
}

.boxpurple2, .boxpurple3 {
margin-top: -40px;
}  

.boxpurple3 {
margin-top: -22px;
}   

.first {
float: left;
width: 45px;
height: 45px;
display: block;
margin-top: 0px;
background: url(../img/sprite.png) 0px 6px no-repeat;
}

.first:hover {
background-position: 0px -38px;
transition: 0.3s;
}

.child_boxpurple1_1 {
height: 100px;
width: 100%;
line-height: 1.2;
overflow: hidden;
}

.child_boxpurple1_2 {
width: 100%; 
margin-top: 8px;    
}  

.second {
width: 45px;
height: 45px;
display: block;
margin-right: 0;
margin-top: 0px;
background: url(../img/sprite.png) -50px 0 no-repeat;
}

.second:hover {
background-position: -50px -45px;
transition: 0.3s;
}

.child_boxpurple2_1 {
height: 100px;
width: 100%;
line-height: 1.2;
overflow: hidden;
}
  
.child_boxpurple2_2 {
margin-top: 8px;
}  

.third {
width: 45px;
height: 45px;
display: block;
margin-top: 0px;
background: url(../img/sprite.png) -110px 0 no-repeat;
}

.third:hover {
background-position: -112px -45px;
transition: 0.3s;
}

.child_boxpurple3_1 {
height: 100px;
width: 100%;
line-height: 1.2;
overflow: hidden;
}

.child_boxpurple3_2 {
margin-top: 9px;    
}  
  
.readmore {
display: inline-block;
float: right;
padding-top: 7px;
margin-right: -10px;  
text-decoration: none;
color: #fff;
font-size: 0.99em;
}

.readmore:hover {
text-shadow: 0 0 6px #fff;
}  

.boxlightgrey {
width: 100%;
height: 785px;
background-color: #f9f9f9;
overflow: hidden;
border-bottom: 1px solid #e6e6e6;
}

.startshere {
width: 100%;
float: left;
}

.startshere1 {
height: 257px;
width: 100%;
margin-top: 70px;
margin-left: 0;
background: url(../img/Back_blog_480.png) 0 0 no-repeat;
background-size: cover;
padding-left: 0;
padding-right: 0;
padding-top: 17px;
overflow: hidden;
text-align: justify;
} 
  
.blog {
display: inline-block;
width: 63%;
padding-top: 7px;
padding-right: 2%;
margin-left: 23%;
font-weight: 100;
font-size: 1.1em;
line-height: 1.3;
height: 155px;
overflow: hidden;
}  

.startshere h2 {
display: block;
padding-bottom: 0.52%;
}

.startshere h4{
display: inline-block;
margin-left: 23%;
padding-top: 5px;
margin-bottom: 5px;
padding-left: 0;
font-size: 1.2em;
}  

.startshere_first {
display: inline-block;
width: 100%;
color: #454545;
}

.startshere_second {
display: inline-block;
width: 100%;  
color: #edbfff;
}


.startshere2 {
margin-top: 20px;
margin-left: 41%;
}

.recentupdates {
margin-top: 38px;
width: 100%;
float: right;
}

.recentupdates h2 {
display: block;
margin-top: -1.4px;
padding-bottom: 18px;
padding-left: 1.7%;
font-size: 1.55em;
color: #454545;
}

.recentupdates1 {
margin-left: 0;   
}  

.nuncturpis1, .nuncturpis2, .nuncturpis3 {
display: inline-block;
text-decoration: none;
font-weight: bold;
color: #454545;
font-family: 'Arial', sans-serif;
overflow: hidden;
padding-left: 25%;
}

.nuncturpis1 {
display: block;
height: 50px;
height: 50px;
margin-top: -4px;  
background: url(../img/khrenovinka.png) 1px -1px no-repeat;
}

.nuncturpis2 {
display: block;
height: 50px;
height: 50px;
margin-top: -8px;
background: url(../img/khrenovinka.png) 1px -56px no-repeat;
}

.nuncturpis3 {
display: block;
height: 50px;
height: 50px;
margin-top: -3px;
background: url(../img/khrenovinka.png) 1px -119.5px no-repeat;
}

.top {  
letter-spacing: 0.1em;
}

.bot {
display: inline-block;
margin-top: -3px;
width: 90%;
}

.recentupdates2 .readmore {
color:  #454545;
font-weight: bold;
margin-top: -18px;
margin-right: 13%;
font-size: 0.885em;
}

.logos {
background: #f9f9f9;
border-top: 1px solid #fefefe;
border-bottom: 1px solid #fefefe;
}

.logos p {
display: inline-block;
width: 100%;
height: 365px;
margin-top: 50px;
margin-left: 9%;  
background: url(../img/Logos_320.png) no-repeat;
}  

.img_logo {
display: none;  
padding-left: 0;
width: 0;
}

.boxdarkgrey {
display: none;
width: 100%;
height: 600px;
overflow: hidden;
padding-top: 68px;
background-color: #ececec;
border-top: 1px solid #e6e6e6;
color: #454545;
}

.inboxdarkgrey1, .inboxdarkgrey2, .inboxdarkgrey3 {
height: 210px;    
width: 100%;
float: left;
overflow: hidden;
margin-left: 2%;  
}

.boxdarkgrey h1 {
font-size: 1.6em;    
}  

.boxdarkgrey h2 {
display: inline-block;
padding-top: 2px;
padding-bottom: 7px;
font-weight: normal;
font-size: 1.2em;
}

.boxdarkgrey p {
display: inline-block;
font-weight: 100;
font-family: 'Arial', sans-serif;
line-height: 1.5;
font-size: 1.03em;
color: #454545;
word-spacing: 2px;
letter-spacing: 0.3px;
height: 90px;
overflow: hidden;
}

#idarkgrpimg {
display: inline-block;  
height: 30px;    
} 

.inboxdarkgrey1_3 p {
display: inline-block;
height: 50px; 
margin-top: 0px;
}  

.inboxdarkgrey1_1 span {
color:  #b9b9b9; 
}

.boxdarkgrey a {
text-decoration: none;
color: #454545;
font-weight: bold; 
}

.inboxdarkgrey2 {
margin-top: -20px;    
}

.inboxdarkgrey3 {
margin-top: -20px;    
}  

.f {
width: 100%;
height: 190px;
padding-top: 10px;
padding-right: 4%;  
background-image: url(../img/bg2.png);
background-size: cover;
}

.menu_bottom {
display: inline-block;
width: 100%;
list-style-type: none;  
}

.menu_bottom li {
display: inline;
font-size: 0.8em;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
padding-left: 4.7%;
}

.menu_bottom__link {
list-style-type: none;
text-decoration: none;
color: #fff;
}

.sub_f1 {
display: none;
width: 100%;
float: left;
}

.sub_f2 {
width: 100%;
float: right;
padding-top: 32px;
text-align: right;
font-weight: normal;
color: #fff;
}

.sub_f2 p  {
font-size: 0.7em;
text-align: center;
}

a.pingb {
padding-left: 2%;
text-decoration: none;
color: #fff;
font-weight: bold;
font-size: 1.1em;
}
} 
/*End min-width: 320px, max-width 479px*/


@media all and (min-width: 480px) and (max-width: 767px) {
* {
margin: 0;
padding: 0;
}

html, body {
width: 100%;
height: 100%;
font-size: 1em;
font-family: 'Oswald', sans-serif;
}

.main {
width: 100%; 
margin-left: auto;
margin-right: auto;
overflow: hidden;
}

.main p {
font-family: 'Arial', sans-serif;
font-weight: 100;
}  

.cl1 {
clear: both;
}

.in {
width: 100%;
margin-left: auto;
margin-right: auto;
overflow: hidden;
}  

.boxBigImg {
width: 100%;
height: 480px;
padding-top: 70px;
background: url(../img/Big_back_480.jpg) 0px 0px no-repeat;
}

.pingbull {
width: 100%;
float: left;
margin-top: -5px;
font-size: 1.2em;
font-weight: normal;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);  
}

.pingbull h1 {
font-size: 1.6em;
text-align: center;
}   

.pingbull span:first-child {
color: #fff;
}

.pingbull span:last-child {
color: #6f4d7e;
}

.navigation {
position: absolute;
margin-top: 67px;
margin-left: 8.2%;  
/*width: 18.2%;*/
width: 51%;
float: left;
}

.menu {
display: block;
line-height: 2;
overflow: hidden;
background: rgba(59, 46, 67, 0.8);
border: 1px solid #111a21;
border-radius: 6px;
}  

.menu li {
display: block; 
padding-top: 5px;
padding-bottom: 5px;
padding-bottom: 1.3px;
list-style: none;
text-align: center;
font-weight: normal;
font-size: 1em;
}

li.menu__item1 {
border-bottom: 1px solid #403347;    
}  

li.menu__item2 {
border-top: 1px solid #523e5a;
width: 100%;
background: rgba(43, 34, 49, 0.8);
border-bottom: 2px solid #edbfff;  
}  

li.menu__item3 {
border-top: 1px solid #523e5a;
border-bottom: 1px solid #403347;
}  

li.menu__item4 {
border-top: 1px solid #523e5a;
border-bottom: 1px solid #403347;    
} 

li.menu__item5 {
border-top: 1px solid #523e5a;
border-bottom: 1px solid #403347;  
} 

li.menu__item6 {
border-top: 1px solid #523e5a;
border-bottom: 1px solid #403347;    
} 

a.menu__link1 {
text-decoration: none;
color: #fff;  
border-bottom: 2px solid #edbfff;
}

.menu li a {
text-decoration: none;
color: #fff;
font-size: 1.10em;
}

.menu a:hover {
border-bottom: 2px solid #edbfff;
}

.slider {
width: 100%;
height: 295px;
margin-top: 95px;
color: #fff;
background: url(../img/Slider_back_480.png) 50% 0px no-repeat;
background-size: cover;
}

.nar_r, .nar_l {
display: none;
}  
  
.slider_child1 {
display: none;
float: left;
width: 50%;
padding-top: 73px;
margin-left: 5.3%;  
}

.slider_child1 h1 {
padding-top: 36px;
font-size: 2.5em;
font-weight: normal;
} 

h2.it {
display: inline-block;
margin-top: 4px;
font-size: 1.1em;
font-weight: normal;
color: #edbfff;
} 

.slider_child1 p {
display: inline-block;
height: 100px;
width: 80%;  
overflow: hidden;  
padding-top: 4px;
font-weight: 100;
font-size: 1.12em;
line-height: 1.5;
text-align: justify;
}

.slider_child2 {
width: 43%;
float: left;
}

.slider_child2 p {
display: inline-block;
margin-top: -23px;
float: right;
margin-right: 10.5%;
}

.phone {
display: none;
}  

.boxpurple {
width: 100%;
height: 530px;
padding-top: 75.8px;
background: url(../img/grad.png) no-repeat;
background-size: cover;
color: #fff;
overflow: hidden;
border-top: 1px solid #33253a;
border-bottom: 1px solid #33253a;
text-align: justify;
}

.boxpurple h4{
font-size: 1.2em;
font-weight: normal;
}

.boxpurple p{
padding-top: 10.5px;
font-size: 1.1em;
font-weight: 100;
line-height: 1.5;
}

.boxpurple01, .boxpurple1, .boxpurple02, .boxpurple2, .boxpurple03, .boxpurple3 {
float: left;
overflow: hidden;
}

.boxpurple01, .boxpurple02, .boxpurple03 {
width: 11%;
padding-left: 4%;
}  

.boxpurple02, .boxpurple03 {
margin-top: -30px;    
} 

.boxpurple1, .boxpurple2, .boxpurple3 {
width: 76%;
height: 196px;
font-size: 0.9em;
padding-right: 6%;
}

.boxpurple2, .boxpurple3 {
margin-top: -30px;
}  

.boxpurple3 {
margin-top: -35px;
}   

.first {
float: left;
width: 45px;
height: 45px;
display: block;
margin-top: 0px;
background: url(../img/sprite.png) 0px 6px no-repeat;
}

.first:hover {
background-position: 0px -38px;
transition: 0.3s;
}

.child_boxpurple1_1 {
height: 100px;
width: 100%;
line-height: 1.2;
overflow: hidden;
}

.child_boxpurple1_2 {
width: 100%; 
margin-top: 8px;    
}  

.second {
width: 45px;
height: 45px;
display: block;
margin-right: 0;
margin-top: 0px;
background: url(../img/sprite.png) -50px 0 no-repeat;
}

.second:hover {
background-position: -50px -45px;
transition: 0.3s;
}

.child_boxpurple2_1 {
height: 100px;
width: 100%;
line-height: 1.2;
overflow: hidden;
}

.third {
width: 45px;
height: 45px;
display: block;
margin-top: 0px;
background: url(../img/sprite.png) -110px 0 no-repeat;
}

.third:hover {
background-position: -112px -45px;
transition: 0.3s;
}

.child_boxpurple3_1 {
height: 100px;
width: 100%;
line-height: 1.2;
overflow: hidden;
}

.readmore {
display: inline-block;
float: right;
padding-top: 11px;
margin-right: -5px;  
text-decoration: none;
color: #fff;
font-size: 0.99em;
}

.readmore:hover {
text-shadow: 0 0 6px #fff;
}  

.boxlightgrey {
width: 100%;
height: 785px;
background-color: #f9f9f9;
overflow: hidden;
border-bottom: 1px solid #e6e6e6;
}

.startshere {
width: 100%;
float: left;
}

.startshere1 {
height: 257px;
width: 73%;
margin-top: 70px;
margin-left: 2.2%;
background: url(../img/Back_blog_480.png) 0 0 no-repeat;
background-size: cover;
padding-left: 13%;
padding-right: 7.5%;
padding-top: 17px;
overflow: hidden;
text-align: justify;
}  

.startshere h2 {
display: block;
padding-bottom: 0.52%;
}

.startshere h4{
display: inline-block;
padding-top: 5px;
margin-bottom: 5px;
padding-left: 0;
font-size: 1.5em;
}  

.startshere_first {
display: inline-block;
width: 45%;
color: #454545;
}

.startshere_second {
display: inline;
padding-left: 9px;
width: 45%;  
color: #edbfff;
}

.blog {
display: inline-block;
padding-top: 7px;
font-weight: 100;
font-size: 1.2em;
line-height: 1.3;
height: 165px;
overflow: hidden;
}  

.startshere2 {
margin-top: 20px;
margin-left: 41%;
}

.recentupdates {
margin-top: 38px;
width: 100%;
float: right;
}

.recentupdates h2 {
display: block;
margin-top: -1.4px;
padding-bottom: 18px;
font-size: 1.55em;
color: #454545;
}

.recentupdates1 {
margin-left: 15.5%;   
}  

.nuncturpis1, .nuncturpis2, .nuncturpis3 {
display: inline-block;
text-decoration: none;
font-weight: bold;
color: #454545;
font-family: 'Arial', sans-serif;
overflow: hidden;
padding-left: 16.5%;
}

.nuncturpis1 {
display: block;
height: 50px;
height: 50px;
margin-top: -1px;  
background: url(../img/khrenovinka.png) 1px -1px no-repeat;
}

.nuncturpis2 {
display: block;
height: 50px;
height: 50px;
margin-top: -6.5px;
background: url(../img/khrenovinka.png) 1px -56px no-repeat;
}

.nuncturpis3 {
display: block;
height: 50px;
height: 50px;
margin-top: -8px;
background: url(../img/khrenovinka.png) 1px -119.5px no-repeat;
}

.top {  
letter-spacing: 0.1em; 
}

.bot {
display: inline-block;
margin-top: -3px;
width: 90%;
font-weight: 100;
}

.recentupdates2 .readmore {
color:  #454545;
font-weight: bold;
margin-top: -29.8px;
margin-right: 13%;
font-size: 0.885em;
}

.logos {
background: #f9f9f9;
border-top: 1px solid #fefefe;
border-bottom: 1px solid #fefefe;
}

.logos p {
display: inline-block;
width: 100%;
height: 190px;
margin-top: 35px;
margin-left: 12%;  
background: url(../img/logos_480.png) no-repeat;
}  

.img_logo {
display: none;  
padding-left: 0;
width: 0;
}

.boxdarkgrey {
width: 100%;
height: 600px;
overflow: hidden;
padding-top: 68px;
background-color: #ececec;
border-top: 1px solid #e6e6e6;
color: #454545;
}

.inboxdarkgrey1, .inboxdarkgrey2, .inboxdarkgrey3 {
height: 210px;    
width: 100%;
float: left;
overflow: hidden;
margin-left: 2%;  
}

.boxdarkgrey h1 {
font-size: 1.6em;    
}  

.boxdarkgrey h2 {
display: inline-block;
padding-top: 2px;
padding-bottom: 7px;
font-weight: normal;
font-size: 1.2em;
}

.boxdarkgrey p {
display: inline-block;
font-weight: 100;
font-family: 'Arial', sans-serif;
line-height: 1.5;
font-size: 1.03em;
color: #454545;
word-spacing: 2px;
letter-spacing: 0.3px;
height: 90px;
overflow: hidden;
}

#idarkgrpimg {
display: inline-block;  
height: 30px;    
} 

.inboxdarkgrey1_3 p {
display: inline-block;
height: 50px; 
margin-top: 0px;
}  

.inboxdarkgrey1_1 span {
color:  #b9b9b9; 
}

.boxdarkgrey a {
text-decoration: none;
color: #454545;
font-weight: bold; 
}

.inboxdarkgrey2 {
margin-top: -20px;    
}

.inboxdarkgrey3 {
margin-top: -20px;    
}  

.f {
width: 100%;
height: 150px;
padding-top: 44px;
padding-right: 4%;  
background-image: url(../img/bg2.png);
background-size: cover;
}

.menu_bottom {
display: inline-block;
width: 100%;
list-style-type: none;  
}

.menu_bottom li {
display: inline;
font-size: 0.8em;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
padding-left: 4.7%;
}

.menu_bottom__link {
list-style-type: none;
text-decoration: none;
color: #fff;
}

.sub_f1 {
width: 100%;
float: left;
}

.sub_f2 {
width: 100%;
float: right;
padding-top: 32px;
text-align: right;
font-weight: normal;
color: #fff;
}

.sub_f2 p  {
font-size: 0.7em;
text-align: center;
}

a.pingb {
padding-left: 2%;
text-decoration: none;
color: #fff;
font-weight: bold;
font-size: 1.1em;
}
} 
/*End min-width: 480px max-width: 767px*/


@media all and (min-width: 768px) and (max-width: 959px) {
* {
margin: 0;
padding: 0;
}

html, body {
width: 100%;
height: 100%;
font-size: 1em;
font-family: 'Oswald', sans-serif;
}

.main {
width: 100%; 
margin-left: auto;
margin-right: auto;
overflow: hidden;
}

.main p {
font-family: 'Arial', sans-serif;
font-weight: 100;
}  

.cl1 {
clear: both;
}
  
.in {
width: 100%;
margin-left: auto;
margin-right: auto;
overflow: hidden;
}  


.boxBigImg {
width: 100%;
height: 726.8px;
padding-top: 70px;
background: url(../img/bg.png);
background-size: cover;
}

.pingbull {
width: 100%;
float: left;
margin-top: -5px;
padding-left: 2.5%;
font-size: 1.2em;
font-weight: normal;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);  
}

.pingbull h1 {
display: inline-block;
margin-top: -5px;
}   

.pingbull span:first-child {
color: #fff;
}
  
.pingbull span:last-child {
color: #6f4d7e;
}
  
.navigation {
margin-top: 20px;  
padding-left: 2.6%;
width: 100%;
float: left;
}
  
.menu li {
display: inline-block; 
margin-right: 5.4%;
padding-top: 3.2px;
padding-bottom: 1.3px;
list-style: none;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

li.menu__item1 {
border-bottom: 2px solid #edbfff;
}

.navigation a {
text-decoration: none;
color: #fff;
font-size: 1.10em;
}
  
.menu a:hover {
border-bottom: 2px solid #edbfff;
}
  
.slider {
width: 100%;
height: 480px;
margin-top: 50px;
color: #fff;
background: url(../img/Slider_768.png) 50% 0px no-repeat;
background-size: cover;
}

.nar_l, .nar_r {
display: none;    
}  
  
.slider_child1 {
float: left;
width: 50%;
padding-top: 73px;
margin-left: 12%;  
}

.slider_child1 h1 {
padding-top: 36px;
font-size: 2.5em;
font-weight: normal;
} 

h2.it {
display: inline-block;
margin-top: 4px;
font-size: 1.1em;
font-weight: normal;
color: #edbfff;
} 

.slider_child1 p {
display: inline-block;
height: 100px;
width: 80%;  
overflow: hidden;  
padding-top: 4px;
font-weight: 100;
font-size: 1.12em;
line-height: 1.5;
text-align: justify;
}

.slider_child2 {
width: 43%;
float: left;;
}
  
.slider_child2 p {
display: inline-block;
margin-top: -23px;
float: right;
margin-right: 10.5%;
}

.phone {
display: none;
}  
  
.boxpurple {
width: 100%;
height: 264.5px;
padding-top: 75.8px;
background: url(../img/grad.png) no-repeat;
background-size: cover;
color: #fff;
overflow: hidden;
border-top: 1px solid #33253a;
border-bottom: 1px solid #33253a;
text-align: justify;
}

.boxpurple h4{
font-size: 1.2em;
font-weight: normal;
}

.boxpurple p{
padding-top: 10.5px;
font-size: 1.1em;
font-weight: 100;
line-height: 1.5;
}

.boxpurple01, .boxpurple1, .boxpurple02, .boxpurple2, .boxpurple03, .boxpurple3 {
float: left;
overflow: hidden;
}

.boxpurple01, .boxpurple02 {
width: 10%;
}  
  
.boxpurple03 {
width: 10%;
/*margin-left: 2%;*/
}    

.boxpurple1, .boxpurple2, .boxpurple3 {
width: 20%;
height: 196px;
font-size: 0.9em;
}

.boxpurple2 {
padding-left: 3%;
}  

.boxpurple3 {
padding-left: 4%;
/*width: 23%;*/
/*height: 195px;*/
}  

.first {
width: 45px;
height: 45px;
display: block;
margin-left: 35%;
margin-top: 0px;
background: url(../img/sprite.png) 0px 6px no-repeat;
}
  
.first:hover {
background-position: 0px -38px;
transition: 0.3s;
}
  
.child_boxpurple1_1 {
height: 165px;
width: 100%;
line-height: 1.2;
overflow: hidden;
}

.second {
width: 45px;
height: 45px;
display: block;
margin-left: 48%;
margin-right: 0;
margin-top: 0px;
background: url(../img/sprite.png) -50px 0 no-repeat;
}
  
.second:hover {
background-position: -50px -45px;
transition: 0.3s;
}
  
.child_boxpurple2_1 {
margin-left: 2%;
height: 165px;
width: 100%;
line-height: 1.2;
overflow: hidden;
}
  
.third {
width: 45px;
height: 45px;
display: block;
margin-left: 51%;
margin-top: 0px;
background: url(../img/sprite.png) -110px 0 no-repeat;
}
  
.third:hover {
background-position: -112px -45px;
transition: 0.3s;
}
  
.child_boxpurple3_1 {
height: 165px;
width: 100%;
line-height: 1.2;
overflow: hidden;
}

.readmore {
display: inline-block;
float: right;
padding-top: 11px;
text-decoration: none;
color: #fff;
font-size: 0.99em;
}
  
.readmore:hover {
text-shadow: 0 0 6px #fff;
}  

.boxlightgrey {
width: 100%;
height: 485px;
background-color: #f9f9f9;
overflow: hidden;
border-bottom: 1px solid #e6e6e6;
}

.startshere {
width: 46%;
float: left;
}
  
.startshere h2 {
display: block;
padding-bottom: 0.52%;
}

.startshere h4{
display: inline-block;
padding-top: 11px;
margin-bottom: 5px;
padding-left: 9%;
font-size: 1.3em;
}  

.blog {
display: inline-block;
padding-left: 4.5%;
font-weight: 100;
font-size: 1.2em;
font-weight: 100;
height: 134px;
overflow: hidden;
}  

.startshere1 {
height: 300px;
margin-top: 97.5px;
margin-left: 5%;
background: url(../img/blog_img.png) 0 0 no-repeat;
background-size: cover;
padding-left: 15%;
padding-right: 10%;
padding-top: 17px;
overflow: hidden;
}  

.startshere_first {
display: inline-block;
width: 100%;
color: #454545;
}
  
.startshere_second {
display: inline-block;
width: 100%;  
color: #edbfff;
}
  
.startshere2 {
margin-top: -22px;
}
  
a.toogle{
display: inline-block;
margin-left: 60.5%;
}

.startshereimg img{
display: none; 
} 
  
.recentupdates {
margin-top: 126px;
width: 46.7%;
float: right;
}
  
.recentupdates h2 {
display: block;
margin-top: -1.4px;
padding-bottom: 18px;
font-size: 1.4em;
color: #454545;
}
  
.nuncturpis1, .nuncturpis2, .nuncturpis3 {
display: inline-block;
text-decoration: none;
font-weight: bold;
color: #454545;
font-family: 'Arial', sans-serif;
overflow: hidden;
}
  
.nuncturpis1 {
display: block;
height: 50px;
height: 50px;
padding-left: 20%;
background: url(../img/khrenovinka.png) 1px -1px no-repeat;
}
  
.nuncturpis2 {
display: block;
height: 50px;
height: 50px;
margin-top: -5px;
padding-left: 20%;
background: url(../img/khrenovinka.png) 1px -56px no-repeat;
}
  
.nuncturpis3 {
display: block;
height: 50px;
height: 50px;
margin-top: -6px;
padding-left: 20%;
background: url(../img/khrenovinka.png) 1px -119.5px no-repeat;
}

.top {  
letter-spacing: 0.1em; 
}

.bot {
display: inline-block;
margin-top: -3px;
width: 90%;
font-weight: 100;
/*letter-spacing: 0.1em;*/
}
  
.recentupdates2 .readmore {
color:  #454545;
font-weight: bold;
margin-top: -29.8px;
margin-right: 6px;
font-size: 0.885em;
}
  
.logos {
padding-top: 26px;
padding-bottom: 25px;
background: #f9f9f9;
border-top: 1px solid #fefefe;
border-bottom: 1px solid #fefefe;
}

.img_logo {
padding-left: 3%;
width: 95%;
}

.boxdarkgrey {
width: 100%;
height: 307px;
overflow: hidden;
padding-top: 88.5px;
background-color: #ececec;
border-top: 1px solid #e6e6e6;
color: #454545;
}

.inboxdarkgrey1, .inboxdarkgrey2, .inboxdarkgrey3 {
height: 210px;    
width: 30%;
float: left;
overflow: hidden;
}

.inboxdarkgrey2{
width: 29%;
margin-left: 5%;
padding-left: 0.4%;
}

.boxdarkgrey h2 {
display: inline-block;
padding-top: 2px;
padding-bottom: 7px;
font-weight: normal;
}

.boxdarkgrey p {
font-weight: 100;
font-family: 'Arial', sans-serif;
line-height: 1.5;
font-size: 1.03em;
color: #454545;
word-spacing: 2px;
letter-spacing: 0.3px;
}

.inboxdarkgrey3{
width: 29%;
margin-left: 5.9%;
padding-left: 0.4%;
}

.inboxdarkgrey1_1 span {
color:  #b9b9b9; 
}
  
.boxdarkgrey a {
text-decoration: none;
color: #454545;
font-weight: bold; 
}

.f {
width: 100%;
height: 80px;
padding-top: 44px;
padding-right: 4%;  
background-image: url(../img/bg2.png);
background-size: cover;
}

.menu_bottom {
width: 100%;
list-style-type: none;
display: inline-block;
}
  
.menu_bottom li {
display: inline-block;
margin-right: 5.5%;
font-size: 0.909em;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
  
.menu_bottom__link {
list-style-type: none;
text-decoration: none;
color: #fff;
}
  
.sub_f1 {
width: 70%;
float: left;
}
  
.sub_f2 {
display: inline-block;
width: 100%;
float: right;
padding-top: 40px;
text-align: right;
font-weight: normal;
color: #fff;
}

.sub_f2 p  {
font-size: 0.7em;
}

a.pingb {
display: inline-block;
float: right;
padding-left: 2%;
text-decoration: none;
color: #fff;
font-weight: bold;
font-size: 1.1em;
}
} 
/*End min-width: 768px, max-width: 959px*/


@media all and (min-width: 960px) {
* {
margin: 0;
padding: 0;
}

html, body {
width: 100%;
height: 100%;
font-size: 1em;
font-family: 'Oswald', sans-serif;
}

.main {
width: 100%; 
margin-left: auto;
margin-right: auto;
overflow: hidden;
}

.main p {
font-family: 'Arial', sans-serif;
font-weight: 100;
}  

.cl1 {
clear: both;
}
  
.in {
width: 99%;
margin-left: auto;
margin-right: auto;
}  


.boxBigImg {
width: 100%;
height: 776.8px;
padding-top: 70px;
background: url(../img/bg.png);
background-size: cover;
}

.pingbull {
width: 33%;
float: left;
margin-top: -1px;
font-size: 1em;
font-weight: normal;
}

.pingbull h1 {
display: inline-block;
margin-top: -5px;
}   

.pingbull span:first-child {
color: #fff;
}
  
.pingbull span:last-child {
color: #6f4d7e;
}
  
.navigation {
width: 67%;
float: left;
}
  
.menu li {
display: inline-block; 
margin-left: 6.5%;
padding-top: 3.2px;
padding-bottom: 1.3px;
list-style: none;
}

li.menu__item1 {
margin-left: 1%;
border-bottom: 2px solid #edbfff;
}

li.menu__item5 {
margin-left: 5%;
}

li.menu__item6 {
margin-left: 0%;
}

.navigation a {
text-decoration: none;
color: #fff;
font-size: 1.10em;
}
  
.menu a:hover {
border-bottom: 2px solid #edbfff;
}
  
.slider {
width: 100%;
height: 400px;
margin-top: 165.5px;
color: #fff;
background: url(../img/forsl.png) -190px 0px no-repeat;
background-size: cover;  
}

.nar_l {
  margin-top: 180px;
  float: left;
  width: 22px;
  height: 34px;
 background: url(../img/left.png);   
}  
  
.nar_r {
  margin-top: 180px;
  float: right;
  width: 22px;
  height: 34px;
 background: url(../img/right.png);   
}  
  
.slider_child1 {
float: left;
width: 53%;
padding-top: 3.69%;
}

.slider_child1 h1 {
padding-top: 36px;
font-size: 3em;
font-weight: normal;  
} 

h2.it {
display: inline-block;
margin-top: -50px;
font-size: 1.7em;
font-weight: normal;
color: #edbfff;
} 

.slider_child1 p {
padding-top: 4px;
font-weight: 100;
font-size: 1.12em;
line-height: 1.5;
text-align: justify;
}

.slider_child2 {
width: 40%;
float: left;;
}
  
.slider_child2 p {
display: inline-block;
margin-top: -17px;
float: right;
margin-right: 0.63%;
}

.boxpurple {
width: 100%;
height: 264.5px;
padding-top: 75.8px;
background: url(../img/grad.png) no-repeat;
background-size: cover;
color: #fff;
overflow: hidden;
border-top: 1px solid #33253a;
border-bottom: 1px solid #33253a;
text-align: justify;
}

.boxpurple h4{
font-size: 1.5em;
font-weight: normal;
}

.boxpurple p{
padding-top: 10.5px;
font-size: 1.1em;
font-weight: 100;
line-height: 1.5;
}

.boxpurple01, .boxpurple1, .boxpurple02, .boxpurple2, .boxpurple03, .boxpurple3 {
float: left;
height: 160px;
overflow: hidden;
}

.boxpurple01, .boxpurple02 {
width: 6.5%;
}  

.boxpurple1, .boxpurple2, .boxpurple3 {
width: 24%;
height: 196px;
font-size: 0.9em;
}

.boxpurple2 {
padding-left: 1%;
}  

.boxpurple3 {
width: 22%;
height: 195px;
}  

.boxpurple02 {
margin-left: 3.5%;
}  

.boxpurple03 {
width: 6.6%;
margin-left: 5%;
}    

.first {
width: 45px;
height: 50px;
display: block;
margin-left: 12.4%;
margin-top: 0px;
background: url(../img/sprite.png) 0px 6px no-repeat;
}
  
.first:hover {
background-position: 0px -38px;
transition: 0.3s;
}
  
.child_boxpurple1_1 {
height: 152px;
width: 100%;
line-height: 1.2;
overflow: hidden;
}

.second {
width: 45px;
height: 50px;
display: block;
margin-left: 30%;
margin-right: 20%;
margin-top: 5px;
background: url(../img/sprite.png) -50px 0 no-repeat;
}
  
.second:hover {
background-position: -50px -45px;
transition: 0.3s;
}
  
.child_boxpurple2_1 {
margin-left: 2%;
height: 152px;
width: 100%;
line-height: 1.2;
overflow: hidden;
}
  
.third {
width: 45px;
height: 50px;
display: block;
margin-left: 2.4%;
margin-top: 5px;
background: url(../img/sprite.png) -110px 0 no-repeat;
}
  
.third:hover {
background-position: -112px -45px;
transition: 0.3s;
}
  
.child_boxpurple3_1 {
height: 152px;
width: 100%;
line-height: 1.2;
overflow: hidden;
}

.readmore {
display: inline-block;
float: right;
padding-top: 23.5px;
text-decoration: none;
color: #fff;
font-size: 0.99em;
}
  
.readmore:hover {
text-shadow: 0 0 6px #fff;
}  

.boxlightgrey {
width: 100%;
height: 485px;
background-color: #f9f9f9;
overflow: hidden;
border-bottom: 1px solid #e6e6e6;
}

.startshere {
width: 47%;
float: left;
}
  
.startshere h2 {
display: block;
padding-bottom: 0.52%;
}

.startshere h4{
display: inline-block;
padding-top: 11px;
margin-bottom: 5px;
padding-left: 9%;
font-size: 1.3em;
}  

.blog {
display: inline-block;
padding-left: 9%;
font-weight: 100;
font-size: 1.2em;
font-weight: 100;
height: 180px;
overflow: hidden;
}  

.startshere1 {
height: 275px;
margin-top: 97.5px;
margin-left: 0;
background: url(../img/blog_img.png) 0 0 no-repeat;
background-size: cover;
padding-left: 5%;
padding-right: 5%;
padding-top: 17px;
overflow: hidden;
}  

.startshere_first {
color: #454545;
}
  
.startshere_second {
color: #edbfff;
}
  
.startshere2 {
margin-top: 1%;
}
  
.startshere2 a{
margin-left: 43%;
}
  
.recentupdates {
margin-top: 125px;
width: 46.7%;
float: right;
}
  
.recentupdates h2 {
display: block;
margin-top: -1.4px;
padding-bottom: 18px;
font-size: 1.4em;
color: #454545;
}
  
.nuncturpis1, .nuncturpis2, .nuncturpis3 {
display: inline-block;
text-decoration: none;
font-weight: bold;
color: #454545;
font-family: 'Arial', sans-serif;
overflow: hidden;
}
  
.nuncturpis1 {
display: block;
height: 50px;
height: 50px;
padding-left: 15%;
background: url(../img/khrenovinka.png) 1px -1px no-repeat;
}
  
.nuncturpis2 {
display: block;
height: 50px;
height: 50px;
margin-top: -5px;
padding-left: 15%;
background: url(../img/khrenovinka.png) 1px -56px no-repeat;
}
  
.nuncturpis3 {
display: block;
height: 50px;
height: 50px;
margin-top: -6px;
padding-left: 15%;
background: url(../img/khrenovinka.png) 1px -119.5px no-repeat;
}

.top {
letter-spacing: 0.1em; 
}

.bot {
display: inline-block;
margin-top: -3px;
font-weight: 100;
letter-spacing: 0.1em;
}
  
.recentupdates2 .readmore {
color:  #454545;
font-weight: bold;
margin-top: -29.8px;
margin-right: 6px;
font-size: 0.885em;
}
  
.logos {
padding-top: 26px;
padding-bottom: 25px;
background: #f9f9f9;
border-top: 1px solid #fefefe;
border-bottom: 1px solid #fefefe;
}

.img_logo {
padding-left: 10.2%;
width: 80%;
}

.boxdarkgrey {
width: 100%;
height: 307px;
overflow: hidden;
padding-top: 88.5px;
background-color: #ececec;
border-top: 1px solid #e6e6e6;
color: #454545;
}

.inboxdarkgrey1, .inboxdarkgrey2, .inboxdarkgrey3 {
height: 210px;    
width: 30%;
float: left;
overflow: hidden;
}

.inboxdarkgrey2{
width: 29%;
margin-left: 5%;
padding-left: 0.4%;
}

.boxdarkgrey h2 {
display: inline-block;
padding-top: 2px;
padding-bottom: 7px;
font-weight: normal;
}

.boxdarkgrey p {
font-weight: 100;
font-family: 'Arial', sans-serif;
line-height: 1.5;
font-size: 1.03em;
color: #454545;
word-spacing: 2px;
letter-spacing: 0.3px;
}

.inboxdarkgrey3{
width: 29%;
margin-left: 5.9%;
padding-left: 0.4%;
}

.inboxdarkgrey1_1 span {
color:  #b9b9b9; 
}
  
.boxdarkgrey a {
text-decoration: none;
color: #454545;
font-weight: bold; 
}

.f {
width: 100%;
height: 70px;
padding-top: 44px;
background-image: url(../img/bg2.png);
background-size: cover;
}

.menu_bottom {
width: 100%;
list-style-type: none;
display: inline-block;
}
  
.menu_bottom li {
display: inline-block;
margin-right: 5.5%;
font-size: 0.909em;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
  
.menu_bottom__link {
list-style-type: none;
text-decoration: none;
color: #fff;
}
  
.sub_f1 {
width: 70%;
float: left;
}
  
.sub_f2 {
display: inline-block;
width: 30%;
float: left;
padding-top: 9px;
text-align: right;
font-weight: normal;
color: #fff;
}

.sub_f2 p  {
font-size: 0.7em;
}

a.pingb {
display: inline-block;
float: right;
padding-left: 2%;
text-decoration: none;
color: #fff;
font-weight: bold;
font-size: 1.1em;
}
} 
/*End min-width: 960px*/
