*{
margin: 0;
padding: 0;
}

body{
font-family: Arial, sans-serif;
font-style: italic;
height: 2000px;
}

a{
text-decoration: none;
color: black;
}

ul{
list-style: none;  
}

.jcarousel-skin-tango {
border: solid 2px;
border-radius: 10px;
}

.wrap_jcarousel{
width: 70%;
margin-top: 10px;
position: relative;
float: left;
}    

#mycarousel {
position: relative;
overflow: hidden;
width: 400px;
height: 400px;
margin-left: 300px;
}

.ul_jcarousel {
width: 20000em;
position: relative;
list-style: none;
margin: 0;
padding: 0;
}

.ul_jcarousel li{
float: left;
}

#mycarousel img{
vertical-align: top;
width: 400px;
height: 400px;
}

.jcarousel-pagination{
background-color: transparent;
position: absolute;
bottom: 10px;
left: 320px;
}

.jcarousel-pagination a{
text-decoration: none;
text-align: center;
line-height: 30px;
color: #fff;
display: inline-block;
width: 30px;
height: 30px;
background-color: rgba(0,0,0,.8);
border-radius: 60%;
margin-left: 5px;
}

.jcarousel-pagination a:hover{
background-color: rgba(0,0,0,.6);
}

.active{
opacity: .6;
}

.jcarousel-prev,  .jcarousel-next{
position: absolute;
text-decoration: none;
top: 190px;
color: #000;
font-size: 5vh;
line-height: 30px;
display: block;
}

.jcarousel-prev{
left: 180px;
}

.jcarousel-next{
right: 108px;
}

.myselect{
float: right;
width: 30%;
}

.clear {
clear: both;
}

h1{
font-size: 8vh;
padding-left: 320px;
}

#main_menu li{
font-size: 4vh;
float:left;
width: 20%;
padding-left: 100px;
padding-right: 5px;
position:relative;
}

#main_menu li ul{
display:none;
position:absolute;
background-color: #EEEED1;
list-style:none;
padding:0;
width:210px;
}

#main_menu li:hover ul{
display:block;
}

#main_menu li ul li{
float:none;
width:210px;
font-size: 3vh;
padding-left: 0px;
}

#main_menu li ul li a{
line-height:25px;
}

#main_menu li ul li ul{
background-color: #EEEED1;
}

#main_menu li ul li ul li a{
color: black;
}

#main_menu li ul li ul, #main_menu  li:hover ul li ul{        
display:none;       
position:absolute;  
left:210px; 
top:0;
}

#main_menu li ul li:hover ul{
background-color: #FFFF00;
display:block;
}

.niceCheck {
margin-left: 0px;
width: 80px;
padding-right: 50px;
height: 29px;
line-height: 30px;
display: inline-block;
cursor: pointer;
background: url(../img/checkbox.png);
background-repeat: no-repeat;
position: relative;
overflow: hidden;
}

.niceChecked {
background-position: 0 -58px;
}

.checkjs {
float: left;
margin: 0px 20px 20px 100px;
overflow: hidden;
}

.checkjs label {
font-size: 16px;
margin-left: -80px;
margin-right: 50px;
}

.niceCheckDisabled {
background-image: url(../img/checkbox.png);
background-position: 0 -87px;
}

.checkjs input[type="checkbox"] {
display:none;            
}

.postals {
clear: both;
}

.sel {
width: 200px;
font-size: 16px;
}

.lineForm {
margin-bottom: 20px;
width: 100%;
zoom: 1;
}

* html .lineForm {
float: none;
width: auto;
}

.lineForm label {
display: inline-block;
position: relative;
margin-left: 0px;
margin-top: 120px;
margin-bottom: 10px;
font-size: 20px;
}

.cusel {
font-size: 16px;
float: left;
margin-right: 10px;
}

.checkcss {
width: 30%;
float: right;
margin-left: 10px;
margin-right: 65px;
padding-top: 40px;
}

.checkcss input[type=checkbox] {
position: absolute;
clip: rect(0, 0, 0, 0);
}

.checkcss label {
font-size: 16px;
line-height: 30px;
cursor: pointer;
}

.checkcss label:after {
content: " ";
display: inline-block;
width: 30px;
height: 29px;
background: url(../img/checkbox.png) 0 0px;
position: relative;
top: 3px;
margin-left: 15px;
}

.checkcss input[type=checkbox]:checked + label:after {
background-position: 0 -58px;
}

.checkcss label:hover:after {
background-position: 0 -29px;
}

.checkcss input[type=checkbox]:checked + label:hover:after {
background-position: 0 -58px;
}