* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  overflow: hidden; }

.in {
  width: 940px;
  margin-left: auto;
  margin-right: auto; }

.cleaner {
  clear: both; }

a img {
  border: none; }

input, textarea {
  outline: none; }

header {
  width: 100%;
  height: 700px;
  padding-top: 50px;
  background: url("../../img/bg/bg_header_desktop.jpg") no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  z-index: 20;
  overflow: hidden;
  -ms-behavior: url("backgroundsize.htc"); }
  header a {
    color: white; }

.top__urlaub {
  float: left;
  width: 22.87234%;
  font-size: 1.35em;
  font-weight: 700;
  letter-spacing: 3px; }

.top__ident {
  float: right;
  width: 17.55319%;
  padding-right: 0.10638%; }

.ident__login {
  font-size: 1.1em;
  display: inline-block;
  margin-top: -12px;
  padding-left: 9px; }

.ident__signup {
  display: inline-block;
  margin-top: -12px;
  float: right;
  border: 2px solid white;
  border-radius: 17px;
  padding: 6px 16px 6px 16px;
  font-size: 1.1em;
  position: relative;
  behavior: url(pie/PIE.htc); }

.call {
  text-align: center;
  padding-top: 140px; }

.call__share, .call__holiday {
  font-size: 3.8em;
  font-weight: 900;
  letter-spacing: 2.5px; }

.call__and {
  margin-top: 21px;
  font-size: 1.8em;
  font-weight: 100;
  letter-spacing: 2.5px; }

.call__action_but {
  display: inline-block;
  padding: 11px 21px 11px 21px;
  background: #ff4e50;
  border-radius: 20px;
  margin-top: 35px;
  font-size: 1.1em;
  font-weight: 500;
  word-spacing: 1.5px;
  letter-spacing: 0.41px;
  position: relative;
  behavior: url(pie/PIE.htc); }

.howWorks {
  height: 620px;
  padding-top: 91px; }

.howWorks__title {
  padding-bottom: 35px; }
  .howWorks__title p {
    text-align: center;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 0.5px; }

.mobile_howWorks {
  display: none; }

.howWorks__first, .howWorks__second, .howWorks__third {
  float: left;
  color: white; }

.howWorks__first {
  width: 300px;
  height: 400px;
  padding-top: 150px;
  padding-left: 2.12766%;
  padding-right: 2.12766%;
  background: url("../../img/bg/step1.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 5px;
  behavior: url(pie/PIE.htc); }

.howWorks__second {
  width: 300px;
  height: 400px;
  padding-top: 150px;
  padding-left: 2.12766%;
  padding-right: 2.12766%;
  background: url("../../img/bg/step2.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 5px;
  behavior: url(pie/PIE.htc); }

.howWorks__third {
  width: 300px;
  height: 400px;
  padding-top: 150px;
  padding-left: 2.12766%;
  padding-right: 2.12766%;
  background: url("../../img/bg/step3.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 5px;
  behavior: url(pie/PIE.htc); }

.arrows {
  padding-bottom: 20px; }
  .arrows img {
    width: auto;
    height: auto; }

.ar_r {
  float: right;
  width: auto;
  height: auto; }

a.step {
  display: inline-block;
  padding: 5px 11px 5px 11px;
  background: #ff4e50;
  color: white;
  font-size: 0.7em;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 15px;
  border-radius: 15px;
  position: relative;
  behavior: url(pie/PIE.htc); }

.step-second {
  display: inline-block;
  margin-top: 29px; }

.sed {
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: 0.9px; }

.cond {
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: 0.9px; }

.quis {
  padding-top: 10px;
  font-weight: 300; }

.morbi {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: 0.9px; }

.nulla {
  font-weight: 300; }

.meetPartner {
  height: 470px;
  text-align: center; }

.description__name {
  display: inline-block;
  padding-top: 10px;
  font-size: 1.1em;
  font-weight: 700;
  color: black; }

.description__about {
  padding-top: 12px; }

.meetPartner__title {
  margin-top: 30px;
  padding-bottom: 30px; }
  .meetPartner__title p {
    text-align: center;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 0.5px; }

.meetPartner__first, .meetPartner__second, .meetPartner__third, .meetPartner__fourth {
  width: 23.40426%;
  float: left; }

.meetPartner__first {
  margin-right: 2.12766%; }

.meetPartner__second {
  margin-right: 2.12766%; }

.meetPartner__third {
  margin-right: 2.12766%; }

.meetPartner__other {
  width: 23.40426%;
  padding-top: 45px;
  margin-left: auto;
  margin-right: auto; }

.other__but {
  border: 2px solid #ff4e50;
  border-radius: 23px;
  padding: 8px 29px 8px 29px;
  font-size: 1.1em;
  font-weight: 700;
  color: #ff4e50;
  position: relative;
  behavior: url(pie/PIE.htc); }

.ideas {
  width: 100%; }

.ideas__title {
  width: 100%;
  margin-top: -5px;
  margin-bottom: 25px; }
  .ideas__title p {
    text-align: center;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 0.5px; }

.ideas__components {
  width: 100%;
  height: 1000px; }

.grid {
  width: 100%; }

.persent-size {
  width: 31.91489%; }

.myitem {
  display: inline-block;
  height: 300px;
  margin: 0.5%;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  position: relative; }
  .myitem div span {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 47%;
    width: 100%;
    z-index: 9;
    color: white;
    font-size: 2.2em;
    font-weight: 700;
    letter-spacing: 1.5px; }
  .myitem div a {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    line-height: 100%;
    z-index: 5;
    overflow: hidden; }
    .myitem div a img {
      width: 100%;
      height: 100%;
      z-index: 8;
      border-radius: 5px;
      behavior: url(pie/PIE.htc); }

.width2 {
  width: 64.89362%; }
  .width2 span {
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 47%;
    width: 40%;
    height: auto;
    z-index: 9;
    color: white;
    font-size: 2.2em;
    font-weight: 700;
    letter-spacing: 1.5px; }

.search {
  margin-top: 72px; }

.search__title p {
  margin-top: 72px;
  text-align: center;
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: 0.5px; }

.search__appeal p {
  margin-top: 30px;
  margin-bottom: 37px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 300; }

.search__form {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 98px; }

#req {
  margin-left: 1%;
  padding: 10px 5px;
  width: 57%;
  border-radius: 5px;
  outline: none; }

#req_but {
  margin-left: 1%;
  border: none;
  width: 37%;
  background: #ff4e50;
  border-radius: 20px;
  padding: 13px 5px;
  color: white;
  font-size: 1.2em;
  position: relative;
  behavior: url(pie/PIE.htc); }

footer {
  height: 196px;
  border-top: 4px solid #ff4e50;
  padding-top: 36px; }

.footer__urlaub, .company, .partners, .areto {
  float: left; }

.footer__urlaub {
  width: 17.02128%;
  margin-right: 6.38298%;
  color: #ff4e50;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: 700; }

.company {
  width: 10.6383%;
  margin-right: 6.38298%;
  padding-left: 2.2%; }
  .company a {
    color: #cdcdcd;
    font-weight: 300; }

.comp p {
  font-weight: 700;
  margin-bottom: 11px;
  font-size: 1.1em; }

.comp ul li {
  margin-bottom: 7px; }

.partners p {
  font-weight: 700;
  padding-left: 20%;
  font-size: 1.1em; }

.partners {
  width: 9.57447%;
  margin-right: 36.17021%; }

.areto {
  padding-left: 2.3%;
  color: #cdcdcd;
  width: 12.76596%; }
  .areto p {
    display: inline-block;
    float: right;
    font-size: 0.7em;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin-right: -15%; }
  .areto img {
    padding-top: 5px; }

/*# sourceMappingURL=ie.css.map */
