@mixin placeholder {
&::-webkit-input-placeholder {@content}
&:-moz-placeholder {@content}   
&::-moz-placeholder {@content}    
&:-ms-input-placeholder {@content}
}

$main_blue: #248cec;
$main_yellow: #f4b60d;
$main_dark: #2a2d32;
