@import 'mixin-var';

* {
  margin: 0;
  padding: 0;
  list-style: none; }

.mybox {
  font-family: 'Arial', sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em; 
  a{
    text-decoration: none;
  }}

.in {
  display: inline-block;
  width: 85.29%;
  margin-left: (100%-85.29%)/2;
  margin-right: (100%-85.29%)/2;;
}

.cl {
  clear: both; }

.w_first {
  padding-top: 40px;
  height: 70px; }

.white_first_left {
  width: 50%;
  float: left; }

.white_first_right {
  padding-top: 18px;
  width: 50%;
  float: right; 
p {
  float: right; }
}

.icon {
  display: inline-block;
  margin-left: 15px;
  width: 10px;
  height: 16px;
  background: url("../img/dist/sprite.png");  
}

.facebook {
  background-position: 0px 16px; 
&:hover {
  background-position: 0px 0px; }
}

.twitter {
  width: 19px;
  background-position: -28px 16px; 
&:hover {
  background-position: -28px 0px; }
}

.rss {
  width: 19px;
  background-position: -60px 16px; 
&:hover {
  background-position: -60px 0px; }
}

.linkedin {
  width: 18px;
  background-position: -96px 16px; 
&:hover {
  background-position: -96px 0px; }
}

.skype {
  margin-right: 3px;
  width: 19px;
  background-position: 19px 16px; 
&:hover {
  background-position: 19px 0px; }
}

.w_dark_row {
  height: 56px;
  background: $main_dark;
  position: relative;
//  overflow: hidden;
//  padding: 0 !important;
//  margin: 0 !important;
}

.w_dark_row_menu {
  display: inline-block;
  width: 70%;
  float: left;
  margin-left: 0px;
}

.navbar-default {
  background: $main_dark;
  margin-left: 0px;
}

#main_navbar {
//  margin-left: 0px;
//  padding-left: 0px;
}

li.menu_top__item1, li.menu_top__item2, li.menu_top__item3, li.menu_top__item4, li.menu_top__item5{
//  border-right: 1px solid #181a1d;  
//  
}

.navbar-default #main_navbar .navbar-nav a {
line-height: 26px;
//margin-left: 15px;
//padding-right: 15px;
//padding-left: 15px;  
}

.navbar-default .navbar-nav > .activs {
  line-height: 26px;
  background: $main_blue;
  color: white;
  &:hover {
    background: #e7e7e7;
  color: $main_yellow;
  }
}

.navbar-default .navbar-nav > .activs > a {
  line-height: 26px;
  background: $main_blue;
  color: white;
  &:hover {
  color: $main_yellow;
  }
}

.navbar-toggle{
  color: white;
}

.white_dark_row_search {
  width: 30%;
  float: right; }

.search {
  float: right;
  width: 70%;
  border: 1px solid #181a1d;
  background: #35383c;
  margin-top: 8px;
  margin-right: 2%;
}

input[type="search"] {
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 78%;
  vertical-align: middle;
  margin-top: -5px;
  padding-left: 5%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5px;
  background: transparent;
  color: #5d6063;
  line-height: 30px;
}

input {@include placeholder {
  color: #5d6063;
  font-size: 16px;
  padding-left: 5%
  }}

input[type="submit"] {
  overflow: hidden;
  margin-top: 8px;
  width: 12%;
  height: 20px;
  border: none;
  background: url("../img/dist/search.png") no-repeat 0px 5px; }

.wrap_jcarousel {
  width: 100%;
  margin-top: 10px;
  position: relative;
  float: left; }

#mycarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-left: 0px; 
}

.ul_jcarousel {
  width: 900%;
  position: relative;
  margin: 0;
  padding: 0; 
li {
  float: left; 
  width: 11.12%;
img {
width: 100%;
  vertical-align: top;
  height: auto; }}
}

.jcarousel-pagination {
  background-color: transparent;
  position: absolute;
  bottom: 5px;
  left: 50%; 
a {
  text-align: center;
  line-height: 14px;
  color: #fff;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 2px solid #fff;
  margin-left: 5px; 
&:hover {
  color: $main_yellow;
  background-color: $main_yellow; }
}}


a.active {
  background-color: black;
  color: #000; }

.col {
  float: left;
  
  width: 70%;
  color: #8a8a8a; }

.numb {
  float: left;
  font-size: 72px;
  
  width: 30%;
  color: #efeff0;
  font-weight: bold; }

.w_columns {
  margin-top: 70px; }

.col_title h3 {
  color: black;
  padding-top: 10px;
  padding-bottom: 25px; }

a.col_link {
  display: inline-block;
  color: black;
  font-weight: bold;
  margin-top: 25px;
  margin-right: 10px;
  margin-bottom: 80px; }

a.col_link:after {
  content: url(../img/dist/arrow_no_act.png); }

a.col_link::after {
  content: url(../img/dist/arrow_no_act.png); }

a.col_link:hover {
  color: $main_blue; }

a.col_link:hover:after {
  content: url(../img/dist/arrow_act.png); }

a.col_link:hover::after {
  content: url(../img/dist/arrow_act.png); }

.dark_top {
  height: auto;
  background-color: $main_dark; }

.dark_top_services h2 {
  color: white;
  padding-top: 45px;
  padding-bottom: 45px; }

.d_top_img_first, .d_top_img_second, .d_top_img_third, .d_top_img_fourth {
  float:left;
  width: 260px;
  overflow: hidden;
  margin-left: 2.2%;
  margin-right: auto;
  margin-bottom: 45px;}

.in_d_top_img_first {
  overflow: hidden;
  background: url("../img/dist/dark_img1.jpg") no-repeat  -130px 0px; 
  height: 260px;
  width: 260px;
a {
  display: inline-block;
  width: 260px;
  height: 260px; 
&:hover {
  background: url("../img/dist/img_hov.png"); }
  }}

.in_d_top_img_second {
  overflow: hidden;
  background: url("../img/dist/dark_img2.jpg") no-repeat -110px 0px; 
  height: 260px;
  width: 260px;
a {
  display: inline-block;
  width: 260px;
  height: 260px; 
&:hover {
  background: url("../img/dist/img_hov.png"); }
}}

.in_d_top_img_third {
  overflow: hidden;
  background: url("../img/dist/dark_img3.jpg") no-repeat; 
  height: 260px;
  width: 260px;
a {
  display: inline-block;
  width: 260px;
  height: 260px; 
&:hover {
  background: url("../img/dist/img_hov.png"); }
}}

.in_d_top_img_fourth {
  overflow: hidden;
  background: url("../img/dist/dark_img4.jpg") no-repeat;
  height: 260px;
  width: 260px;
a {
  display: inline-block;
  width: 260px;
  height: 260px; 
&:hover {
  background: url("../img/dist/img_hov.png"); }
}}

.dark_top_img h4 {
  padding-top: 34px;
  text-align: center;
a {
  padding-top: 34px;
  color: white;
  text-align: center; 
&:hover {
  color: $main_yellow; }
}}

.grey {
  height: auto;
  width: 100%;
  padding-top: 55px;
  background: #f7f7f7; }

.grey_in_left {
  float: left; }

.grey_in_right {
  float: left; }

ul.tabNavigation {
  margin: 0;
  padding: 0;
  padding-top: 50px; 
li {
  width: 100%;
  p {
  display: block;
  margin-top: 25px;
  padding-left: 8%;
  padding-right: 1%;  
  margin-bottom: 45px;
  color: #a3a3a3; }
a {
  display: block;
  height: 40px;
  padding-left: 19%;
  margin-right: 0px;
  padding-top: 10px;
  border-left: 1.5px solid #e9e9e9;
  color: black;
  background: url("../img/dist/accord_no_act.png") no-repeat -1px 0px; 
  background-size: 100% 100%;}
  box-sizing: border-box;
a.selected {
  color: white;
  display: block;
  border: 1.5px solid #e9e9e9;
  background: url("../img/dist/accord_act.png") no-repeat 0px 0px;
  background-size: 100% 100%;
  }
  }}

.g_i_n_a_title {
h3{
  margin-top: 0px;
a {
  color: black;
&:hover {
  color: $main_blue;}
    }}}

.logo {
  height: 30%; 
p {
  padding-top: 10%;
  padding-bottom: 10%;
img{
  width: 100%;
  height: auto;
  }}
}

.grey_in_news {
  padding-top: 50px;
span {
  color: $main_blue; }
}

.grey_in_news_img {
  float: left;
  width: 35%;
  margin-right: 1%;
  margin-bottom: 30px;
  img {
  width: 100%;
  height: auto;
  }}

.grey_in_news_article {
  float: right;
  width: 55%;
  margin-right: 1%;}

.g_i_n_a_by {
  margin-bottom: 25px;
  color: #a3a3a3; }

.g_i_n_a_text {
  margin-top: -19px;
  color: #a3a3a3; }

.dark_botom {
  height: auto;
  background: $main_dark; 
hr {
  color: #555;
  background-color: #555;
  border: 0 none;
  height: 1px; }
}

.dark_ch {
  margin-top: 60px;
  float: left;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 26px;
  padding-right: 26px; 
h4 a {
  color: white; }
}

ul.d_b_in_menu_sub {
  padding-top: 20px; 
li {
  display: block;
  padding-bottom: 0px;
  padding-top: 0px; 
  line-height: 1em;}
a {
  color: #797a7c;
  width: 260px;
&:hover {
  text-decoration: none;
  color: $main_blue; }}
}

.contacts {
  height: 10%;
  background: #35383c; 
p {
  padding-top: 20px;
  text-align: center;
  img {
  width: 90%;
  height: auto;
  }}
}


/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
