* {
    margin: auto;
    padding: 0;
}

.box1 {
    width: 1215px;
    height: 1064px;
    position: relative;
    overflow: hidden;
    background: url('../img/Back.jpg');
    background-size: cover;
    font-family: 'Helvetica neue';
    color: white;
}

.menu1 {
    width: 1215px;
    background: #354d8b;
    line-height: 30px;
}

.menu1 li{
    list-style: none;
    background: none;
    color: #317fc7;
    display: inline-block;
    padding: 10px 50px 10px 40px;
}

li:nth-child(5) {
    border-right: 1px solid #317fc7;
}

li:nth-child(6) {
    position: relative;
    color: white;
    padding-left: 40px;
}

li:nth-child(7) {
    color: white;
    background: #317fc7;
}

li:nth-child(6):before {
    content: url('../img/fl.png');
    position: absolute;
    top: 10px;
    left: 5px;
}

li:nth-child(1):hover {
    color: white;
    background: #317fc7;  
}

li:nth-child(2):hover {
    color: white;
    background: #317fc7;  
}

li:nth-child(3):hover {
    color: white;
    background: #317fc7;  
}

li:nth-child(4):hover {
    color: white;
    background: #317fc7;  
}

li:nth-child(5):hover {
    color: white;
    background: #317fc7;  
}

.menu1 a {
    color: white;
}

.cad {
    height: 53px;
    margin-top: 10px;
    border-bottom: 2px solid white;
    text-align: center;
    font-size: 30px;
    line-height: 53px;
}

.facebook {
    margin-top: 40px;
}

.ou {
    margin-top: 30px;
}

.boxform1 {
    width: 557px;
    height: 611px;
    position: absolute;
    top: 247px;
    left: 349px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}

.boxform1_1 {
    height: 340px;
    margin-top: 10px;
}

.inp {
    background: black; 
    margin-left: 143px;
    margin-top: 20px;
    padding: 10px 100px 10px 20px;
    color: white;
    border: none;
    outline: none;
}

.inp:focus {
    box-shadow: 0px 0px 10px blue;
    background: #1b5288;
}

.che {
    margin-left: 143px;
    margin-top: 10px;
}

.b1 {
    color: white;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #317fc7;
    border-radius: 4px;
    background: #317fc7;
    padding: 8px 20px 8px 20px;
    cursor: pointer;
    margin-left: 212px;
    margin-top: 10px;
}

.f {
    margin-top: 10px;
}

.f a {
    text-decoration: none;
    color: white;
}

.f, .facebook, .ou {
    text-align: center;
}