<!DOCTYPE html>
<html>
	<head>      
		<meta charset="UTF-8">
		<title>Test</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="js/dist/InfoFile.js"></script>
		<script src="js/dist/jrtmpl.js"></script>
		<link href="css/style.css" rel="stylesheet">
		<script src="js/dist/dz13_14.js"></script>
	</head>
	<body>
		<script type="text/tmpl" id="mytest">
			<div class="wrapper">
				<h1 class="title"><%= title%></h1>
				<div class="toDo"><%= toDo%></div>
				<% for ( var q= 0; q< info.question.length; q++ ) { %>
					<ol class="question">
						<h3 class="question_text"><%= info.question[q].text%></h2>
						<% for ( var a = 0; a < info.question[q].answer.length; a++ ) { %>
							<li class="answer_text">
								<label>
									<input type="checkbox" class="<%='check'+q%>" id="<%= 'chBox_'+q+'_'+a %>">
									<%= info.question[q].answer[a].text %>
								</label>
							</li>	
						<% } %>
					</ol>
				<% } %>
				<p class="bottom"><input class="verification" type="button" value="Проверить мои результаты"></p>
				<div id="modal_form"> 
          <span id="modal_close">X</span>
          <p id="modalText"></p>
        </div>
        <div id="overlay">
        </div>		
		</script>
	</body>
</html>